### <span style="color:#F05650">인구 밀도가 높은 주거지역 주변 견물이 대피소로 지정될 것이다.</span>

설명<br>
밀집된 지역의 인구 밀도가 높으면 재난 상황에서 대피소에 대한 접근성 향상 및 수요 증가

계획<br>
각 대피소 위치를 기준으로 최대 2.5km 반경안에 공동주택의 거리 계산<br>
세대 수를 가중치로 반영<br>

### 라이브러리

In [34]:
import pandas as pd
import re
import googlemaps

### 부산광역시 공동주택 주소 -> 위도, 경도 변환

In [35]:
Apartment_data = pd.read_csv('../Data/Population_density/부산광역시_공동주택현황.csv', encoding='cp949')

필요없는 컬럼 삭제

In [36]:
Apartment_data.drop(columns=['연번', '단지명','동수','층수','연면적'], inplace=True)

주소를 위도, 경도로 변환하기 위해 문자열 처리

In [37]:
Apartment_data.head()

                                            주소   세대수
0       부산광역시 강서구 명지오션시티10로 17 (명지동, 퀸덤1차아파트)    652
1     부산광역시 강서구 명지오션시티10로 16 (명지동, 퀸덤1차 링컨타운)   1102
2  부산광역시 강서구 명지오션시티11로 51 (명지동, 퀸덤1차 아인슈타인타운)   1112
3     부산광역시 강서구 명지오션시티2로 71 (명지동, 극동스타클래스아파트)   1124
4     부산광역시 강서구 명지오션시티11로 22 (명지동, 명지두산위브포세이돈)  1256

In [38]:
Apartment_data['주소'] = Apartment_data['주소'].apply(lambda x: re.sub(r"\([^()]*\)", "", x))

In [39]:
Apartment_data[Apartment_data['주소'].str.contains('외')]

                                    주소  세대수
315         부산광역시 연제구 거제2동 1088-2 외1필지   45
936        부산광역시 부산진구 부암동 304-1 외 35필지  248
1100        부산광역시 부산진구 양정동 139-22 외4필지   23
1101        부산광역시 부산진구 초읍동 513-44 외1필지   16
1110    부산광역시 부산진구 부산진구 양정동 213-3 외2필지   28
1114    부산광역시 부산진구 부산진구 가야동 226-6 외3필지   29
1120   부산광역시 부산진구 부산진구 양정동 140-26 외1필지   28
1126    부산광역시 부산진구 부산진구 개금동 419-8 외3필지   26
1129   부산광역시 부산진구 부산진구 가야동 551-12 외2필지   28
1141    부산광역시 부산진구 부산진구 부전동 456-4 외1필지   29
1142  부산광역시 부산진구 부산진구 개금동 540-222 외1필지   20
1145   부산광역시 부산진구 부산진구 가야동 644-25 외1필지   28
1149    부산광역시 부산진구 부산진구 부전동 514-8 외1필지  134
1151    부산광역시 부산진구 부산진구 개금동 523-3 외1필지   44
1153   부산광역시 부산진구 부산진구 양정동 354-22 외1필지   20
1154    부산광역시 부산진구 부산진구 양정동 236-3 외1필지   24
1162    부산광역시 부산진구 부산진구 부전동 510-3 외3필지   20
1164    부산광역시 부산진구 부산진구 부전동 109-8 외1필지   24
1165   부산광역시 부산진구 부산진구 부전동 466-23 외1필지   28
1169    부산광역시 부산진구 부산진구 양정동 272-3 외1필지   20
1170   부산광역시 부산진구 부산진구 가야동 444-31 외1필지   20
1173   부산광역시 부산진구 부산진구 가야동 343-24 외1필지   20
1184  부산광역시 부산진구 부산진구 개금동 177-340 외1필지   22
1192  부산광역시 부산진구 부산진구 범천동 1215-46 외2필지   28
1193     부산광역시 부산진구 부산진구 범천동 1115 외2필지   39
1202    부산광역시 부산진구 부산진구 개금동 502-9 외3필지   40
1203   부산광역시 부산진구 부산진구 전포동 347-26 외1필지   20
1207    부산광역시 부산진구 부산진구 전포동 355-9 외1필지   24
1209    부산광역시 부산진구 부산진구 전포동 363-3 외1필지   20
1216    부산광역시 부산진구 부산진구 양정동 262-1 외1필지   20
1329         부산광역시 부산진구 개금동 616-7 외1필지    9
1333         부산광역시 부산진구 부전동 423-3 외1필지   18
1335        부산광역시 부산진구 부전동 536-18 외1필지  299
1366       부산광역시 부산진구 전포2동 595-20 외1필지   84
1367      부산광역시 부산진구 범천2동 1589-27 외1필지  130
1371      부산광역시 부산진구 개금1동 177-181 외1필지   23
1372        부산광역시 부산진구 부암1동 65-17 외2필지   66
1373        부산광역시 부산진구 부전1동 122-1 외3필지   79
1384        부산광역시 부산진구 양정2동 270-3 외1필지   39

In [40]:
Apartment_data['주소'] = Apartment_data['주소'].apply(lambda x: re.sub(r'\s외.*$', '', x))

geopy, google api로 주소 -> 경위도 변환

In [42]:
# mykey = "AIzaSyC7sHcMEk5THKHBW61rJav7MK-2tkaO5sU"
# maps = googlemaps.Client(key=mykey)

# def trans_geo(addr):
#     try:
#         geo_location = maps.geocode(addr)[0].get('geometry')
#         lat = geo_location['location']['lat']
#         lng = geo_location['location']['lng']
#         return lat, lng
#     except IndexError:
#         return None, None

# # 실행
# for idx, addr in enumerate(Apartment_data['주소']):
#     lat, lng = trans_geo(addr)
#     Apartment_data.loc[idx, 'latitude'] = lat
#     Apartment_data.loc[idx, 'longitude'] = lng

반환된 nan 값은 nominatim으로 다시 위도 경도 얻기

In [99]:
Apartment_data = pd.read_csv('./Apartment_pre.csv')

In [100]:
Apartment_data[Apartment_data['latitude'].isnull()]

                           주소  세대수  latitude  longitude
47       부산광역시 연제구 거제3동 730-2   26       NaN        NaN
48      부산광역시 연제구 거제3동 585-35   31       NaN        NaN
55       부산광역시 연제구 거제3동 39-10   22       NaN        NaN
63      부산광역시 연제구 거제3동 603-21   30       NaN        NaN
66       부산광역시 연제구 거제3동 453-6   48       NaN        NaN
91       부산광역시 연제구 거제3동 453-5   49       NaN        NaN
101      부산광역시 연제구 거제3동 728-1   80       NaN        NaN
112      부산광역시 연제구 거제3동 38-45  384       NaN        NaN
125        부산광역시 연제구 거제3동 584   72       NaN        NaN
126        부산광역시 연제구 거제3동 840  618       NaN        NaN
164      부산광역시 연제구 거제3동 577-1  332       NaN        NaN
190      부산광역시 연제구 거제3동 739-1  114       NaN        NaN
192     부산광역시 연제구 거제3동 739-10   80       NaN        NaN
199      부산광역시 연제구 거제3동 588-4   95       NaN        NaN
296        부산광역시 연제구 거제3동 600   78       NaN        NaN
297     부산광역시 연제구 거제3동 576-12   30       NaN        NaN
300      부산광역시 연제구 거제3동 593-5   36       NaN        NaN
305     부산광역시 연제구 거제3동 589-11   42       NaN        NaN
572              철거-현재 kcc스위첸   35       NaN        NaN
791                        없음   10       NaN        NaN
1025      부산광역시 부산진구 범천4동1127  159       NaN        NaN
1043     부산광역시 부산진구 전포3동328-4   20       NaN        NaN
1066   부산광역시 부산진구 범천4동1119-94   90       NaN        NaN
1346   부산광역시 부산진구 전포3동 890-35   25       NaN        NaN
1353   부산광역시 부산진구 전포3동 890-37  132       NaN        NaN
1358  부산광역시 부산진구 범천4동 1067-39   52       NaN        NaN
1360     부산광역시 부산진구 범천4동980-4   48       NaN        NaN

In [101]:
Apartment_data.drop([572, 791], inplace=True)
Apartment_data.reset_index(drop=True, inplace=True)

In [102]:
nan_index = list(Apartment_data[Apartment_data['latitude'].isnull()].index)

In [103]:
Apartment_data.iloc[nan_index, :]

                           주소  세대수  latitude  longitude
47       부산광역시 연제구 거제3동 730-2   26       NaN        NaN
48      부산광역시 연제구 거제3동 585-35   31       NaN        NaN
55       부산광역시 연제구 거제3동 39-10   22       NaN        NaN
63      부산광역시 연제구 거제3동 603-21   30       NaN        NaN
66       부산광역시 연제구 거제3동 453-6   48       NaN        NaN
91       부산광역시 연제구 거제3동 453-5   49       NaN        NaN
101      부산광역시 연제구 거제3동 728-1   80       NaN        NaN
112      부산광역시 연제구 거제3동 38-45  384       NaN        NaN
125        부산광역시 연제구 거제3동 584   72       NaN        NaN
126        부산광역시 연제구 거제3동 840  618       NaN        NaN
164      부산광역시 연제구 거제3동 577-1  332       NaN        NaN
190      부산광역시 연제구 거제3동 739-1  114       NaN        NaN
192     부산광역시 연제구 거제3동 739-10   80       NaN        NaN
199      부산광역시 연제구 거제3동 588-4   95       NaN        NaN
296        부산광역시 연제구 거제3동 600   78       NaN        NaN
297     부산광역시 연제구 거제3동 576-12   30       NaN        NaN
300      부산광역시 연제구 거제3동 593-5   36       NaN        NaN
305     부산광역시 연제구 거제3동 589-11   42       NaN        NaN
1023      부산광역시 부산진구 범천4동1127  159       NaN        NaN
1041     부산광역시 부산진구 전포3동328-4   20       NaN        NaN
1064   부산광역시 부산진구 범천4동1119-94   90       NaN        NaN
1344   부산광역시 부산진구 전포3동 890-35   25       NaN        NaN
1351   부산광역시 부산진구 전포3동 890-37  132       NaN        NaN
1356  부산광역시 부산진구 범천4동 1067-39   52       NaN        NaN
1358     부산광역시 부산진구 범천4동980-4   48       NaN        NaN

In [104]:
from geopy.geocoders import Nominatim

geolocoder = Nominatim(user_agent='South Korea', timeout=None)

def geocoding(addr):
    try:
        geo = geolocoder.geocode(addr)
        lat = geo.latitude
        lng = geo.longitude
        return lat, lng
    except:
        return None, None

for idx, addr in zip(nan_index, Apartment_data.iloc[nan_index, :]['주소']):
    lat, lng = geocoding(addr)
    Apartment_data.loc[idx, 'latitude'] = lat
    Apartment_data.loc[idx, 'longitude'] = lng

In [105]:
Apartment_data[Apartment_data['latitude'].isnull()]

                           주소  세대수  latitude  longitude
1023      부산광역시 부산진구 범천4동1127  159       NaN        NaN
1041     부산광역시 부산진구 전포3동328-4   20       NaN        NaN
1064   부산광역시 부산진구 범천4동1119-94   90       NaN        NaN
1344   부산광역시 부산진구 전포3동 890-35   25       NaN        NaN
1351   부산광역시 부산진구 전포3동 890-37  132       NaN        NaN
1356  부산광역시 부산진구 범천4동 1067-39   52       NaN        NaN
1358     부산광역시 부산진구 범천4동980-4   48       NaN        NaN

그럼에도 nan값이 존재하는 것은 삭제

In [110]:
Apartment_data.dropna(subset=['latitude'], inplace=True)

In [111]:
Apartment_data.reset_index(drop=True, inplace=True)

In [113]:
Apartment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3204 entries, 0 to 3203
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   주소         3204 non-null   object
 1   세대수        3204 non-null   int64
 2   latitude   3204 non-null   float64
 3   longitude  3204 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 100.3+ KB

In [114]:
# Apartment_data.to_csv('../Data/Population_density/Population_density_preprocessing.csv', index=False)